<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header-content">
            <img src="{{url_for('static', filename='bxl-flask.svg')}}" alt="Website Icon" class="header-icon">
            <h1>Welcome to My Website</h1>
        </header>

        <!-- Navigation Menu -->
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
        <!-- Main Content -->
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>

        <!-- Footer -->
        <footer>
            <p>&copy; 2025 My Website. All Rights Reserved.</p>
        </footer>
    </div>
</body>
</html>
